    html {
        scroll-behavior: smooth;
        scroll-padding-top: 200px;
        }
    body {
        background-color: white;
    }
    #container{
        width: 100%;
        height: 300px;
    }
    header {
        z-index: 1000;
        background-color:rgb(235, 206, 240, 0.8);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100px;
        top: 0px;
        font-family:"Cal Sans", sans-serif;
        font-size: x-large;
        line-height: 100px;
        justify-content: left;
        padding-left:30px ;
        margin-top: 0%;
        align-items: center;
        position: fixed;
        box-shadow: 1px 0px 3px 1px gray;
    }
    #full-name {
        color: black;
    }
    #full-name:hover {
        color: aliceblue;
        text-shadow: 2px 2px grey;
        cursor: pointer;
        transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    i.fab {
        font-size: 30px;     
        color: rgb(197, 109, 212);       
        margin-right: 10px;  
        transition: 0.3s;     /* smooth hover */
        }
    #icon-container{
        float: right;
        padding-right: 70px ;
    }
    h2 {
        font-size: 50px;
        text-align: center;
        margin-top: 180px;
        margin-bottom: 50px;
        font-family: 'Sulphur Point', sans-serif;
    }
    .short-line {
        width: 200px;          /* length of the line */
        border: none;          /* remove default styles */
        border-top: 2px dotted rgb(197, 109, 212); /* thickness + color */
        margin: 30px auto;     /* centers it horizontally */
    }
    #character {
        position: relative;
        width: fit-content; 
        margin: 0 auto;
    }
    #profile-pic{
        width: 150px;
        height: 150px;
        border: 1px solid grey;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: thistle;
        margin: 100px auto 0 auto;
        overflow: hidden;   /* ensures image stays inside circle */
        transition: width 0.2s, height 0.2s; /* smooth resize */
    }
    #profile-pic:hover {
        cursor: pointer;
    }
    #profile-pic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #click {
        position: absolute;
        right: -170px;
        top: 40px;
        /* z-index: 9000; */
        font-family: 'Just Me Again Down Here', cursive;
        font-size: 30px;
    }
    #introduction-text{
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
    }
    #introduction-text div{
        margin:5px;
    }
    #about-me{
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 40px;
    }
    #introduction-text > div:not(#about-me) {
        font-family: 'Sulphur Point', sans-serif;
        font-size: 20px;
    }
    .section{
        width: 100%;
        height: 500px;
        background-color: rgb(243, 232, 245);
        /* margin-top: 200px; */
        font-family:  'Sulphur Point', sans-serif;
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        padding-top: 50px;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 250px;
    }
    .section-title {
        text-align: center;
        font-family: 'Shadows Into Light', cursive;
        font-size: 40px;
        margin-top: 200px;
    }
    #section-subtitle{
        text-align: center;
        width: 100%;
        height: 30px;
        margin-top: 20px;
        font-family: 'Just Me Again Down Here', cursive;
        font-size: 30px;
        font-weight: normal;
    }
    #language-bar div{
        margin-top: 20px;
    }
    div span{
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
    }

    #hello-text > span{
        font-size: x-small;
        
    }
    .main-menu{
        background-color: rgb(184, 96, 184);
        color : white;
        padding : 5px;
        width: 120px;
        height: 60px;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
        line-height: 60px;
        border-radius: 10px;
        box-shadow:  3px 2px 0 black;
    }
    .main-menu a {
        text-decoration: none;
        color: white;
    }
    .sub-menu{
        background-color: beige;
        box-shadow: 2px 2px 2px gray;
        width: 120px;
        height: 232px;
        border-radius: 10px;
        display : none;
        margin-top: 2px;
    }
    .sub-menu a{
        display : block;
        width: 120px;
        height: 40px;
        cursor: pointer; /* 마우스를 위로 올리면 손모양으로 바뀜(클릭할 수 있는것 처럼) */
        font-size: 15px;
        text-align: center;
        line-height: 40px;
        padding: 13px 0px 5px;
        border-radius: 5px;
    }
    .main-menu:hover {
        background-color:#d07fde;
    }
    .top-menu:hover .sub-menu{
        display: block;
    }
    .sub-menu a:hover{
        background-color: #ebdaa2;
    }
    .top-menu{
        float: right;
        position: relative;
        margin-right: 50px;
        margin-top: 20px;
        
    }
    .time{
        text-align: center;
        margin: 0 auto;
        font-weight: bolder;
        font-size: 25px;
        font-family: 'Sulphur Point', sans-serif ;
        color:  #a53faa;
    }
    #clock{
        text-align: center;
        margin: 0 auto;
    }
    .sub-menu a {
        text-decoration: none;
        color: black
    }
    /* #sections {
        display: block;
        align-content: space-around;
    } */
    #language {
        margin-bottom: 0;
    }
    #skills {
        margin: 0 auto;
    }
    ul {
        list-style: none;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 20px;
        padding: 0;
    }
    #list-wrapper {
        width: 600px;
        margin: -25px auto;
    }
    li {
        display: flex;
        align-items: center;
        background-color: thistle;
        padding: 40px;
        margin-top: 10px;
        border-radius: 5px;
    }
    li:nth-child(even){
        flex-direction: row-reverse;
        background-color: aliceblue;
    }
    .subjects:hover {
        transform : scale(0.98);
        box-shadow: 1px 1px 1px 1px grey;
    } 
    #icons {
        text-align: center;
        transition: transform 0.3s, color 0.3s;
    }
    #icons a:hover span{
        color: #ebdaa2;
        transform: scale(1.2);
    }
    #insta, #github, #figma {
        font-size: 30px;
        color: #a53faa;
    }
    #icons a:visited{
        color: #a53faa;
    }
    #icons span{
        display: inline-block;
    }
    #exp-photos {
        text-align: center;
    }
    #exp-photos div{
        display: inline-block;
        margin-top: 40px;
        width: 200px;
        height: 200px;
        border: 1px solid black;
        border-radius: 5px;
        gap: 10px;
    }
    #backToTop{
        position: fixed;
        bottom:25px;
        right: 25px;
        height: 30px;
        width:30px;
        cursor: pointer;
        z-index: 1000;
    }
    table, tr, th, td {
        border: 1px solid grey;
        width: 800px;
        height: 100px;
        margin: 60px auto;
        font-size: large;
        border-collapse: collapse;
    }
    table{
        box-shadow: 1px 1px 4px -1px;
    }
    th {
        font-weight: bold;
        font-size: larger;
        background-color: thistle;
    }
    td {
        background-color: aliceblue;
    }
    td:hover {
        background-color:#0f4573 ;
        color: white;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    .fi {
        border-radius: 70px;
        padding: 25px;
        display: none;
    }
    .fa-circle-question{
        font-size: 90px;
    }
    footer {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: #0f4573;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;/* center horizontally */
        justify-content: space-between; 
        padding: 10px;
    }
    #cat {
        position: absolute;
        left: 5px; /*the image starts off screen from the left*/
        animation : fly 12s linear infinite;
        /*animation called fly*/
        /*seconds per loop*/
        /*linear means at constant speed*/
        /*keeps repeating*/
        width: 50px;
        height: auto;
    }
    @keyframes fly { /*defines the stage of animation*/
        from { left: 5px; } /*at the start, image is off screen*/
        to { left: 93%; } /**/
    }
    #copyright {
        display: inline-block;
        color: white;
        font-size: 10px;
        position: absolute;
        bottom: 10px;
    }
    .lang-wrapper { /*container*/  
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; /* horizontal scroll*/     
        overflow-y: hidden;  /* no vertical scroll */     
        justify-content: center;
        align-items: center;      
        perspective: 1000px;          
        width: 100%;
        height: 400px;
        margin: auto;            
        gap: 20px;
    }
    .lang-card { /*card */
        perspective: 1000px;
        display: inline-block;
        text-align: center;
        position: relative;
        width: 150px;
        height: 200px;
        flex: 0 0 150px; /* prevents my card from shrinking even with flex*/
        transform-style: preserve-3d;
        transition: 0.7s ease;
        border-radius: 10px;
        margin-top: 80px;
        margin-right: 30px;
    }
    .lang-card.flipped{
        transform: rotateY(180deg);
    }
    .front {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: aliceblue;
        color: black;
        transform: rotateY(0deg);
        border-radius: 10px;
        box-shadow: 0px 3px 12px -2px grey;
        text-align: center;
        font-size: 10px;
    }
    .front img {
        border-radius: 50px;
        width: 80px;
        height: 80px;
        border: none;
    }
    .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: thistle;
        color: black;
        transform: rotateY(180deg);
        border-radius: 10px;
        box-shadow: 0px 3px 12px -2px grey;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-family: 'Shadows Into Light', cursive;
        display: flex;
        flex-direction: column;
    }
     .front:hover, .back:hover{
        cursor: pointer;
    }
    .lang-star{
        font-size: small;
        margin: 0;
    }

    /*Media Query*/
     @media screen and (max-width : 768px){
        table, tr, th, td {
        border: 1px solid grey;
        width: 600px;
        height: 100px;
        margin: 60px auto;
        font-size: large;
        border-collapse: collapse;
        }
        table{
            box-shadow: 1px 1px 4px -1px;
        }
        th {
            font-weight: bold;
            font-size: larger;
            background-color: thistle;
        }
        td {
            background-color: aliceblue;
            font-size: 17px;
        }
        td:hover {
            background-color:#0f4573 ;
            color: white;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }
        .lang-wrapper { /*container*/
            display: flex;    
            flex-wrap: nowrap;  
            overflow-x: scroll;
            justify-content: center;      
            align-items: flex-start;      
            perspective: 1000px;          
            width: 100%;
            height: 350px;
            margin: auto;
            gap: 2px;                   
        }
        .lang-card { /*card */
            perspective: 1000px;
            display: inline-block;
            text-align: center;
            position: relative;
            width: 120px;
            height: 160px;
            flex: 0 0 auto; /* prevents my card from shrinking even with flex*/
            transform-style: preserve-3d;
            transition: 0.7s ease;
            border-radius: 10px;
            margin-top: 120px;
            margin-right: 15px;
        }
     }

